@{
    Layout = null;
}

<div class="col-lg-10 col-md-8">
    events controller
</div>

<div class="col-lg-2 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            Lastest RSVPs
        </div>
        <div class="panel-body">
            Panel content
         </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Latest Members
        </div>
        <div class="panel-body">
            <latestmembers></latestmembers>
        </div>
    </div>

</div>